<div class="mt-5" *ngIf="currentAccount">
    <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="originURL" placeholder="Paste your link here..." />
        <button class="btn btn-primary" (click)="shortenURL()">Shorten</button>
    </div>
    <div class="mt-2 mb-2" *ngIf="shortenedURL">
      <div class="row justify-content-center">
        <div class="col-lg-7 text-center">
          <div class="p-2" style="  background-color: var(--bs-navbar-bg-color); color: var(--bs-navbar-text-color);">
            <h5>Your last shortened URL: {{shortenedURL}}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-2 mb-2" *ngIf="ErrorList.length > 0">
        <ul>
          <li *ngFor="let it of ErrorList" class="text-danger">{{it}}</li>
        </ul>
      </div>
</div>

<div class="mt-5 text-center" *ngIf="urls.length === 0">
    <h3>No URLs were found.</h3>
</div>

<div class="row justify-content-center mt-3" *ngIf="urls.length > 0 && !selectedUrl">
    <div class="col-lg-9">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td>Shortened URL</td>
            <td>Origin URL</td>
            <td>#</td>
        </thead>
        <tbody>
          <tr *ngFor="let item of urls | paginate: {itemsPerPage: 5, currentPage: page, totalItems: urls.length}">
            <td><a href={{item.url}}>{{item.url}}</a></td>
            <td><a href={{item.origin}}>{{item.origin | makeTinyLink}}</a></td>
            <td><button class="btn btn-success" (click)="showSelectedURL(item.id)" *ngIf="currentAccount">Details</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <pagination-controls previousLabel="Back" nextLabel="Next" (pageChange)="changeCurrentPage($event)">
        </pagination-controls>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-5" *ngIf="selectedUrl">
    <div class="col-lg-7">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-lg-1">
              <button class="btn btn-danger" style="font-size:16px" (click)="showSelectedURL(0)"><i class="bi bi-arrow-left-circle"></i></button>
            </div>
            <div class="col text-center align-content-center">
              <h3>Selected URL</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <ul>
            <li>
              Shortened URL: {{selectedUrl.url}}
            </li>
            <li>
              Origin URL: {{selectedUrl.origin}}
            </li>
            <li>
                Created by: {{selectedUrl.createdBy}}
              </li>
              <li>
                Creation date: {{selectedUrl.creationDate | toLocaleDateString}}
              </li>
          </ul>
        </div>
        <div class="card-footer">
          <div class="btn-group">
            <a class="btn btn-success" href={{selectedUrl.url}}>Go to shortened URL</a>
            <a class="btn btn-primary" href={{selectedUrl.origin}}>Go to origin URL</a>
            <button class="btn btn-danger" *ngIf="currentAccount.role === 'Admin' || currentAccount.id === selectedUrl.createdByUserId" (click)="deleteUrl(selectedUrl.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>

